.header .wrapper
{
	width:80%;
	margin:auto;
}
.banner .wrapper
{
	width:80%;
	margin:auto;
}
.portfolio .wrapper
{
	width:80%;
	margin:auto;
}
.about .wrapper
{
	width:80%;
	margin:auto;
}
.contact .wrapper
{
	width:80%;
	margin:auto;
}
.team .wrapper
{
	width:80%;
	margin:auto;
}
.website .wrapper
{
	width:80%;
	margin:auto;
}
.header
{
	background-color:rgb(44,62,80);	
	height:105px;	 
}
.header .header-fc
{ 
	display:flex;
	justify-content:space-between;
}
.header .header-fc .header-logo
{
	background-color:pink;
	width:258px;
	height:69px;
}
.header .header-fc .header-navi
{
	background-color:pink;
	width:350px;
	height:69px;
}
.banner
{
	background-color:rgb(26,188,156);
	height:623px;
}
.banner .banner-fc
{
	display:flex;
	justify-content:space-between;
	flex-direction:column;
	align-items:center;
	
}
.banner .banner-fc .banner-logo
{
	background-color:lightskyblue;
	width:324px;
	height:276px;
	margin-top:120px;
	align-items:center;

}
.banner .banner-fc .banner-navi
{
	background-color:pink;
	width:665px;
	height:74px;
	align-items:center;
	margin-top:50px;
}
.portfolio
{
	background-color:plum;
	height:948px;
}
.portfolio .portfolio-fc
{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-top:150px;
}
.portfolio .portfolio-fc .boxa
{
	background-color:deepskyblue;
	width:300px;
	height:294px;
}
.portfolio .portfolio-fc .boxb
{
	background-color:dodgerblue;
	width:300px;
	height:294px;
}
.portfolio .portfolio-fc .boxc
{
	background-color:deepskyblue;
	width:300px;
	height:294px;
}
.portfolio .portfolio-fc .boxd
{	background-color:dodgerblue;
	width:300px;
	height:294px;
	margin-top:50px;
}
.portfolio .portfolio-fc .boxe
{
	background-color:deepskyblue;
	width:300px;
	height:294px;
	margin-top:50px;
}
.portfolio .portfolio-fc .boxf
{	background-color:dodgerblue;
	width:300px;
	height:294px;
	margin-top:50px;
}
.about
{
	background-color:aqua;
	height:582px;
}
.about .about-fc
{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;	
	align-items:center;

}
.about .about-fc .boxa
{
	width:100%;	
	margin-top:100px;
	text-align:center;
}
.about .about-fc .texta
{
	background-color:pink;
	width:432px;
	height:157px;
	margin-top:50px;
}
.about .about-fc .textb
{
	background-color:pink;
	width:432px;
	height:157px;
	margin-top:50px;
}
.contact
{
	background-color:plum;
	height:700px;
}
.contact .contact-fc
{
	display:flex;
	flex-wrap:wrap;
	align-items:column;
}
.contact .contact-fc .title
{
	width:100%;	
	margin-top:150px;
	text-align:center;
}
.contact .contact-fc .name
{
	width:100%;
	height:61px;
	margin-top:100px;
}
.contact .contact-fc .email
{
	width:100%;
	height:61px;
}
.contact .contact-fc .mobile
{
	width:100%;
	height:61px;
}
.contact .contact-fc .message
{
	width:100%;
	height:61px;
}
.team
{
	background-color:teal;
	height:274px;
}
.team .team-fc
{
	display:flex;
	justify-content:space-between;
}
.team .team-fc .teama
{
	background-color:thistle;
	width:232px;
	height:111px;
	margin-top:60px;
}
.team .team-fc .teamb
{
	background-color:thistle;
	width:232px;
	height:111px;
	margin-top:60px;
}
.team .team-fc .teamc
{
	background-color:thistle;
	width:232px;
	height:111px;
	margin-top:60px;
}
.website
{
	background-color:grey;
	height:115px;
}
.website .website-fc
{
	display:flex;
	justify-content:space-evenly;
}
.website .website-fc .copyright
{
	background-color:white;
	width:220px;
	margin-top:40px;
	height:37px;
}